
    <!DOCTYPE html>
    <html lang="en">

    <head>
     
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <style>
        .container1 {
          margin: 5% 3%;
        }

        @media (min-width: 48em) {
          .container1 {
            margin: 2%;
          }
        }

        @media (min-width: 75em) {
          .container1 {
            margin: 2em auto;
            max-width: 75em;
          }
        }

        .responsive-table1 {
          width: 100%;
          margin-bottom: 1.5em;
          border-spacing: 0;
        }

        @media (min-width: 48em) {
          .responsive-table1 {
            font-size: 0.9em;
          }
        }

        @media (min-width: 62em) {
          .responsive-table1 {
            font-size: 1em;
          }
        }

        .responsive-table1 thead {
          position: absolute;
          clip: rect(1px 1px 1px 1px);
          /* IE6, IE7 */
          padding: 0;
          border: 0;
          height: 1px;
          width: 1px;
          overflow: hidden;
          z-index: -1;
        }

        @media (min-width: 48em) {
          .responsive-table1 thead {
            position: relative;
            clip: auto;
            height: auto;
            width: auto;
            overflow: auto;
          }
        }

        .responsive-table1 thead th {
          background-color: #3EB2FD;
          background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
          background-size: calc(100% + 20px) calc(100% + 20px);
          border: 1px solid rgb(5, 55, 96);
          font-weight: normal;
          text-align: center;
          color: white;
        }

        .responsive-table1 thead th:first-of-type {
          text-align: left;
        }

        .responsive-table1 tbody,
        .responsive-table1 tr,
        .responsive-table1 th,
        .responsive-table1 td {
          display: block;
          padding: 0;
          text-align: left;
          white-space: normal;
        }

        @media (min-width: 48em) {
          .responsive-table1 tr {
            display: table-row;
          }
        }

        .responsive-table1 th,
        .responsive-table1 td {
          padding: 0.5em;
          vertical-align: middle;
        }

        @media (min-width: 30em) {

          .responsive-table1 th,
          .responsive-table1 td {
            padding: 0.75em 0.5em;
          }
        }

        @media (min-width: 48em) {

          .responsive-table1 th,
          .responsive-table1 td {
            display: table-cell;
            padding: 0.5em;
          }
        }

        @media (min-width: 62em) {

          .responsive-table1 th,
          .responsive-table1 td {
            padding: 0.75em 0.5em;
          }
        }

        @media (min-width: 75em) {

          .responsive-table1 th,
          .responsive-table1 td {
            padding: 0.75em;
          }
        }

        .responsive-table1 caption {
          margin-bottom: 1em;
          font-size: 1em;
          font-weight: bold;
          text-align: center;
        }

        @media (min-width: 48em) {
          .responsive-table1 caption {
            font-size: 1.5em;
          }
        }

        .responsive-table1 tfoot {
          font-size: 0.8em;
          font-style: italic;
        }

        @media (min-width: 62em) {
          .responsive-table1 tfoot {
            font-size: 0.9em;
          }
        }

        @media (min-width: 48em) {
          .responsive-table1 tbody {
            display: table-row-group;
          }
        }

        .responsive-table1 tbody tr {
          margin-bottom: 1em;
        }

        @media (min-width: 48em) {
          .responsive-table1 tbody tr {
            display: table-row;
            border-width: 1px;
          }
        }

        .responsive-table1 tbody tr:last-of-type {
          margin-bottom: 0;
        }

        @media (min-width: 48em) {
          .responsive-table1 tbody tr:nth-of-type(even) {
            background-color: rgba(0, 0, 0, 0.12);
          }
        }

        .responsive-table1 tbody th[scope="row"] {
          background-color: #26890d;
          color: white;
        }

        @media (min-width: 30em) {
          .responsive-table1 tbody th[scope="row"] {
            border-left: 1px solid #86bc25;
            border-bottom: 1px solid #86bc25;
          }
        }

        @media (min-width: 48em) {
          .responsive-table1 tbody th[scope="row"] {
            background-color: transparent;
            color: #000001;
            text-align: left;
          }
        }

        .responsive-table1 tbody td {
          text-align: right;
        }

        @media (min-width: 48em) {
          .responsive-table1 tbody td {
            border-left: 1px solid #86bc25;
            border-bottom: 1px solid #86bc25;
            text-align: center;
          }
        }

        @media (min-width: 48em) {
          .responsive-table1 tbody td:last-of-type {
            border-right: 1px solid #86bc25;
          }
        }

        .responsive-table1 tbody td[data-type="currency"] {
          text-align: right;
        }

        .responsive-table1 tbody td[data-title]:before {
          content: attr(data-title);
          float: left;
          font-size: 0.8em;
          color: rgba(0, 0, 0, 0.54);
        }

        @media (min-width: 30em) {
          .responsive-table1 tbody td[data-title]:before {
            font-size: 0.9em;
          }
        }

        @media (min-width: 48em) {
          .responsive-table1 tbody td[data-title]:before {
            content: none;
          }
        }

        .container1 {
          margin-top: 7%;
          max-height: 300px;
          overflow: auto;
        }

        .responsive-table1 tbody td[data-type="currency"] {
          text-align: center;
        }

        .button-21 {
          align-items: center;
          appearance: none;
          background-color: #3EB2FD;
          background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
          background-size: calc(100% + 20px) calc(100% + 20px);
          border-radius: 100px;
          border-width: 0;
          box-shadow: none;
          box-sizing: border-box;
          color: #FFFFFF;
          cursor: pointer;
          display: inline-flex;
          font-family: CircularStd, sans-serif;
          font-size: 1rem;
          height: auto;
          justify-content: center;
          line-height: 1.5;
          padding: 6px 20px;
          position: relative;
          text-align: center;
          text-decoration: none;
          transition: background-color .2s, background-position .2s;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          vertical-align: top;
          white-space: nowrap;
          margin-right: 1px;
        }

        .button-21:active,
        .button-21:focus {
          outline: none;
        }

        .button-21:hover {
          background-position: -20px -20px;
        }

        .button-21:focus:not(:active) {
          box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
        }
      </style>
    </head>
   
    <body>
      
      <div class="container1">
     
        <table class="responsive-table1">
          <thead>
            <tr>

              <th scope="col">Title</th>
              <th scope="col">Website</th>
              <th scope="col">Website_Username</th>
              <th scope="col">Password</th>
              <th scope="col">Strength</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr>


              <td data-title="Title">c1</td>
              <td data-title="website" data-type="currency" class="tabledata">

              </td>
              <td data-title="website_username" data-type="currency" class="tabledata">

              </td>
              <td data-title="password" data-type="currency" class="tabledata">

              </td>
              <td data-title="strength" data-type="currency" class="tabledata">

              </td>
              <td>
                <button class="button-21" style=" margin-right:10px;">Show</button>
                
                <button class="button-21">Delete</button>
                
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          fetch('http://127.0.0.1:8000/hashed/credentials/?session_token=' + localStorage.getItem('token'), {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
            },

          })
            .then((response) => {

              return response.json();
            })
            .then((data) => {

              const records = data.results;

              const tableBody = document.querySelector(".responsive-table1 tbody");

              tableBody.innerHTML = "";
              records.forEach((record) => {
                
                // Create a new table row element
                const newRow = document.createElement("tr");

                // Create a table cell for the 'title' and set its text content
                const titleCell = document.createElement("td");
                titleCell.textContent = record.title;

                // Create a table cell for the 'website' and set its text content
                const websiteCell = document.createElement("td");
                websiteCell.textContent = record.website;

                // Create a table cell for the 'website_username' and set its text content
                const websiteUsernameCell = document.createElement("td");
                websiteUsernameCell.textContent = record.website_username;

                // Create a table cell for the 'password' and set its text content to "****" (obscured)
                const passwordCell = document.createElement("td");
                passwordCell.textContent = "****";

                // Create a table cell for the 'strength' and set its text content
                const strengthCell = document.createElement("td");
                strengthCell.textContent = record.strength;

                // Create a table cell element to hold action buttons
                const actionsCell = document.createElement("td");

                // Create a "Delete" button
                const deleteButton = document.createElement("button");

                // Set the text content of the delete button
                deleteButton.textContent = "Delete";

                // Add a CSS class to the delete button
                deleteButton.className = "button-21";

                // Add a click event listener to the delete button
                deleteButton.addEventListener("click", function () {
                  // Display a confirmation dialog to confirm deletion
                  const confirmDelete = confirm("Are you sure you want to delete this record?");
                  
                  // Check if the user confirmed the deletion
                  if (confirmDelete) {
                    // Send a DELETE request to the server to delete the record
                    fetch('http://127.0.0.1:8000/hashed/credentials/details/', {
                      method: 'DELETE',
                      // Send the record's ID in the request body as JSON
                      body: JSON.stringify({ cred_id: record.id }),
                      headers: {
                        'Content-Type': 'application/json',
                      },
                    })
                    .then((response) => {
                      // Reload the page after successful deletion
                      location.reload();
                    })
                    .catch((error) => {
                      // Handle any errors that occur during the deletion request
                      // You can add error handling code here
                    });
                  }
                });





                // Create a "Show" button element
                const showButton = document.createElement("button");

                // Set the text content of the show button
                showButton.textContent = "Show";

                // Add a CSS class to the show button
                showButton.className = "button-21";

                // Add a click event listener to the show button
                showButton.addEventListener("click", function () {
                  // Prevent the default behavior of the event (e.g., form submission)
                  event.preventDefault();

                  // Prompt the user to enter their PIN
                  const userPIN = prompt("Enter your PIN:");

                  // Check if the user entered a PIN
                  if (userPIN) {
                    // Send a POST request to the server to retrieve the password
                    fetch('http://127.0.0.1:8000/hashed/credentials/details/', {
                      method: 'POST',
                      // Send the PIN, session token, and record ID in the request body as JSON
                      body: JSON.stringify({ pin: userPIN, session_token: localStorage.getItem('token'), cred_id: record.id }),
                      headers: {
                        'Content-Type': 'application/json',
                      },
                    })
                    .then((response) => {
                      // Check if the response status code is 401 (Unauthorized)
                      if (response.status === 401) {
                        // Display an alert for an invalid PIN
                        alert("Invalid PIN. Please try again.");
                        return;
                      }

                      // Parse the response as JSON
                      return response.json();
                    })
                    .then((data) => {
                     
                      // Display the retrieved password
                      passwordCell.textContent = data.password;

                      // Set a timeout to hide the password after 10 seconds
                      setTimeout(() => {
                        passwordCell.textContent = "****";
                      }, 10000);
                    })
                    .catch((error) => {
                      // Handle any errors that occur during the request
                      // You can add error handling code here
                    });
                  }
                });






               


                titleCell.addEventListener('dblclick', () => {
                    // Get the current text content of titleCell
                    const text = titleCell.textContent;

                    // Replace the content of titleCell with an input field containing the original text
                    titleCell.innerHTML = `<input type="text" value="${text}">`;

                    // Find the input element within titleCell
                    const input = titleCell.querySelector('input');

                    var pressed =false;
                    // Focus on the input element to make it editable
                    input.focus();

                    // Add an event listener for when the input field loses focus
                    input.addEventListener('blur', () => {
                      if (pressed){
                        return;
                      };
                      // Get the new value entered in the input field
                      const newValue = input.value;

                      // Prompt the user to enter a PIN to confirm the change
                      const userPIN = prompt("Enter your PIN to confirm change:");
                      
                    
                      if (userPIN) {
                        // Prepare data to send to the server for updating
                        const data = {
                          title: newValue,
                          user_name: record.username,
                          website_username: record.website_username,
                          website: record.website,
                          password: record.hash_pwd,
                          modified: false,
                          session_token: localStorage.getItem('token'),
                          pin: userPIN,
                          cred_id: record.id,
                        };

                        // Send a PUT request to update the data on the server
                        fetch('http://127.0.0.1:8000/hashed/credentials/details/', {
                          method: 'PUT',
                          headers: {
                            'Content-Type': 'application/json',
                          },
                          body: JSON.stringify(data),
                        })
                          .then((response) => {
                            if (response.status == 401) {
                              // If the PIN is invalid, display an alert and restore the original text
                              titleCell.textContent = text;
                              alert("Invalid Pin. Please try again.");
                              return;
                            }
                                                     
                            return response.json();
                          })
                          .catch((error) => {
                            // Handle any errors that may occur during the fetch
                          });
                           // Update the text content of titleCell with the new value
                          titleCell.textContent = newValue;
                      } else {
                        // If the user cancels the PIN prompt, restore the original text
                        titleCell.textContent = text;
                      }
                    });

                    // Add an event listener for keyup events (e.g., Enter key)
                    input.addEventListener('keydown', (e) => {
                      pressed=true;
                      if (e.key === 'Enter') {
                        // Get the new value entered in the input field
                        const newValue = input.value;

                        // Prompt the user to enter a PIN to confirm the change
                        const userPIN = prompt("Enter your PIN to confirm change:");

                        if (userPIN) {
                          // Prepare data to send to the server for updating
                          const data = {
                            title: newValue,
                            user_name: record.username,
                            website_username: record.website_username,
                            website: record.website,
                            password: record.hash_pwd,
                            modified: false,
                            session_token: localStorage.getItem('token'),
                            pin: userPIN,
                            cred_id: record.id,
                          };

                          // Send a PUT request to update the data on the server
                          fetch('http://127.0.0.1:8000/hashed/credentials/details/', {
                            method: 'PUT',
                            headers: {
                              'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                          })
                            .then((response) => {
                              if (response.status == 401) {
                                // If the PIN is invalid, display an alert and restore the original text
                                titleCell.textContent = text;
                                alert("Invalid Pin. Please try again.");
                                return;
                              }
                              
                              return response.json();
                            })
                            .catch((error) => {
                              // Handle any errors that may occur during the fetch
                            });
                           
                            // Update the text content of titleCell with the new value
                            titleCell.textContent = newValue;
                            return;
                        } else {
                          // If the user cancels the PIN prompt, restore the original text
                          titleCell.textContent = text;
                        }
                      }
                      pressed=false;
                    });
                   
                  });



               // Add a double-click event listener to a DOM element with the id 'websiteCell'
                websiteCell.addEventListener('dblclick', () => {
                  // Get the current text content of the 'websiteCell' element
                  const text = websiteCell.textContent;

                  // Replace the content of 'websiteCell' with an input field containing the current text
                  websiteCell.innerHTML = `<input type="email" value="${text}">`;

                  // Find the input field inside 'websiteCell'
                  const input = websiteCell.querySelector('input');

                  var pressed=false;
                  // Set focus on the input field
                  input.focus();
                  
                  // Add a blur event listener to the input field
                  input.addEventListener('blur', () => {
                    if (pressed)return;
                    // Get the new value from the input field
                    var newValue = input.value;

                    // Check if the new value doesn't start with 'http://' or 'https://'
                    if (!newValue.startsWith('http://') && !newValue.startsWith('https://')) {
                      // If not, prepend 'https://' to the new value
                      newValue = 'https://' + newValue;
                    }

                    // Check if the new value doesn't include 'www.'
                    if (!newValue.includes('www.')) {
                      // If not, add 'www.' after the protocol (if present)
                      newValue = newValue.replace('://', '://www.');
                    }

                    // Prompt the user to enter a PIN to confirm the change
                    const userPIN = prompt("Enter your PIN to confirm change:");

                    if (userPIN) {
                      // Prepare data for sending to the server
                      const data = {
                        title: record.title,
                        user_name: record.username,
                        website_username: record.website_username,
                        website: newValue,
                        password: record.hash_pwd,
                        modified: false,
                        session_token: localStorage.getItem('token'),
                        pin: userPIN,
                        cred_id: record.id,
                      };

                      // Send a PUT request to the server to update the credentials
                      fetch('http://127.0.0.1:8000/hashed/credentials/details/', {
                        method: 'PUT',
                        headers: {
                          'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                      })
                        .then((response) => {
                          if (response.status == 401) {
                            // If the response status is 401 (Unauthorized), show an alert and revert the change
                            websiteCell.textContent = text;
                            alert("Invalid Pin. Please try again.");
                            return;
                          }

                          // Handle the response if it's not 401 (Unauthorized)
                          return response.json();
                        })
                        .catch((error) => {
                          // Handle any errors that occur during the request
                        });

                      // Update the content of 'websiteCell' with the new value
                      websiteCell.textContent = newValue;
                      return;
                    } else {
                      // If the user cancels the PIN prompt, revert the change
                      websiteCell.textContent = text;
                    }
                  });

                  // Add a keyup event listener to the input field
                  input.addEventListener('keyup', (e) => {
                    pressed=true;
                    if (e.key === 'Enter') {
                      // When the Enter key is pressed, perform the same actions as in the blur event handler
                      var newValue = input.value;
                      if (!newValue.startsWith('http://') && !newValue.startsWith('https://')) {
                        newValue = 'https://' + newValue;
                      }
                      if (!newValue.includes('www.')) {
                        newValue = newValue.replace('://', '://www.');
                      }

                      const userPIN = prompt("Enter your PIN to confirm change:");
                      if (userPIN) {
                        const data = {
                          title: record.title,
                          user_name: record.username,
                          website_username: record.website_username,
                          website: newValue,
                          password: record.hash_pwd,
                          modified: false,
                          session_token: localStorage.getItem('token'),
                          pin: userPIN,
                          cred_id: record.id,
                        };

                        fetch('http://127.0.0.1:8000/hashed/credentials/details/', {
                          method: 'PUT',
                          headers: {
                            'Content-Type': 'application/json',
                          },
                          body: JSON.stringify(data),
                        })
                          .then((response) => {
                            if (response.status == 401) {
                              websiteCell.textContent = text;
                              alert("Invalid Pin. Please try again.");
                              return;
                            }

                            return response.json();
                          })
                          .catch((error) => {
                            // Handle any errors that occur during the request
                          });

                        websiteCell.textContent = newValue;
                        return;
                      } else {
                        websiteCell.textContent = text;
                      }
                    }
                    pressed=false;
                  });
                });

               // Add a double-click event listener to a DOM element with the id 'websiteUsernameCell'
                websiteUsernameCell.addEventListener('dblclick', () => {
                  // Get the current text content of the 'websiteUsernameCell' element
                  const text = websiteUsernameCell.textContent;

                  // Replace the content of 'websiteUsernameCell' with an input field containing the current text
                  websiteUsernameCell.innerHTML = `<input type="text" value="${text}">`;

                  // Find the input field inside 'websiteUsernameCell'
                  const input = websiteUsernameCell.querySelector('input');

                  // Set focus on the input field
                  input.focus();
                  var pressed=false;

                  // Add a blur event listener to the input field
                  input.addEventListener('blur', () => {
                    if (pressed)return;
                    // Get the new value from the input field
                    const newValue = input.value;

                    // Prompt the user to enter a PIN to confirm the change
                    const userPIN = prompt("Enter your PIN to confirm change:");

                    if (userPIN) {
                      // Prepare data for sending to the server
                      const data = {
                        title: record.title,
                        user_name: record.username,
                        website_username: newValue,
                        website: record.website,
                        password: record.hash_pwd,
                        modified: false,
                        session_token: localStorage.getItem('token'),
                        pin: userPIN,
                        cred_id: record.id,
                      };

                      // Send a PUT request to the server to update the credentials
                      fetch('http://127.0.0.1:8000/hashed/credentials/details/', {
                        method: 'PUT',
                        headers: {
                          'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                      })
                        .then((response) => {
                          if (response.status == 401) {
                            // If the response status is 401 (Unauthorized), show an alert and revert the change
                            websiteUsernameCell.textContent = text;
                            alert("Invalid Pin. Please try again.");
                            return;
                          }

                          // Handle the response if it's not 401 (Unauthorized)
                          return response.json();
                        })
                        .catch((error) => {
                          // Handle any errors that occur during the request
                        });

                      // Update the content of 'websiteUsernameCell' with the new value
                      websiteUsernameCell.textContent = newValue;
                      return;
                    } else {
                      // If the user cancels the PIN prompt, revert the change
                      websiteUsernameCell.textContent = text;
                    }
                  });

                  // Add a keyup event listener to the input field
                  input.addEventListener('keyup', (e) => {
                    pressed=true;
                    if (e.key === 'Enter') {
                      // When the Enter key is pressed, perform the same actions as in the blur event handler
                      const newValue = input.value;

                      const userPIN = prompt("Enter your PIN to confirm change:");
                      if (userPIN) {
                        // Prepare data for sending to the server
                        const data = {
                          title: record.title,
                          user_name: record.username,
                          website_username: newValue,
                          website: record.website,
                          password: record.hash_pwd,
                          modified: false,
                          session_token: localStorage.getItem('token'),
                          pin: userPIN,
                          cred_id: record.id,
                        };

                        // Send a PUT request to the server to update the credentials
                        fetch('http://127.0.0.1:8000/hashed/credentials/details/', {
                          method: 'PUT',
                          headers: {
                            'Content-Type': 'application/json',
                          },
                          body: JSON.stringify(data),
                        })
                          .then((response) => {
                            if (response.status == 401) {
                              // If the response status is 401 (Unauthorized), show an alert and revert the change
                              websiteUsernameCell.textContent = text;
                              alert("Invalid Pin. Please try again.");
                              return;
                            }

                            // Handle the response if it's not 401 (Unauthorized)
                            return response.json();
                          })
                          .catch((error) => {
                            // Handle any errors that occur during the request
                          });

                        // Update the content of 'websiteUsernameCell' with the new value
                        websiteUsernameCell.textContent = newValue;
                        return;
                      } else {
                        // If the user cancels the PIN prompt, revert the change
                        websiteUsernameCell.textContent = text;
                      }
                    }
                    pressed=false;
                  });
                });

               // Add a double-click event listener to a DOM element with the id 'passwordCell'
                passwordCell.addEventListener('dblclick', () => {
                  // Get the current text content of the 'passwordCell' element
                  const text = passwordCell.textContent;

                  // Replace the content of 'passwordCell' with an input field for password input
                  passwordCell.innerHTML = `<input type="password" value="">`;

                  // Find the input field inside 'passwordCell'
                  const input = passwordCell.querySelector('input');
                  var pressed=false;

                  // Set focus on the input field
                  input.focus();
                 

                  // Add a blur event listener to the input field
                  input.addEventListener('blur', () => {
                    if (pressed) {return ;}
                    // Get the new value (password) from the input field
                    const newValue = input.value;

                    // Prompt the user to enter a PIN to confirm the change
                    const userPIN = prompt("Enter your PIN to confirm change:");

                    if (userPIN) {
                      // Prepare data for sending to the server
                      const data = {
                        title: record.title,
                        user_name: record.username,
                        website_username: record.website_username,
                        website: record.website,
                        password: newValue,
                        modified: true,
                        session_token: localStorage.getItem('token'),
                        pin: userPIN,
                        cred_id: record.id,
                      };

                      // Send a PUT request to the server to update the credentials
                      fetch('http://127.0.0.1:8000/hashed/credentials/details/', {
                        method: 'PUT',
                        headers: {
                          'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                      })
                        .then((response) => {
                          // Replace the 'passwordCell' content with asterisks to hide the password
                          passwordCell.textContent = "****";

                          if (response.status == 401) {
                            // If the response status is 401 (Unauthorized), show an alert and revert the change
                            alert("Invalid Pin. Please try again.");
                            return;
                          }

                          // Handle the response if it's not 401 (Unauthorized)
                          return response.json();
                        })
                        .then((data) => {
                          // Update the 'strengthCell' content with the password strength data from the response
                          strengthCell.textContent = data.strength;
                          return;
                        })
                        .catch((error) => {
                          // Handle any errors that occur during the request
                        });
                    } else {
                      // If the user cancels the PIN prompt, revert the change
                      passwordCell.textContent = text;
                    }
                  });

                  // Add a keyup event listener to the input field
                  input.addEventListener('keydown', (e) => {
                    pressed=true;
                    if (e.key === 'Enter') {
                      // When the Enter key is pressed, perform the same actions as in the blur event handler
                      const newValue = input.value;

                      // Prompt the user to enter a PIN to confirm the change
                      const userPIN = prompt("Enter your PIN to confirm change:");

                      if (userPIN) {
                        // Prepare data for sending to the server
                        const data = {
                          title: record.title,
                          user_name: record.username,
                          website_username: record.website_username,
                          website: record.website,
                          password: newValue,
                          modified: true,
                          session_token: localStorage.getItem('token'),
                          pin: userPIN,
                          cred_id: record.id,
                        };

                        // Send a PUT request to the server to update the credentials
                        fetch('http://127.0.0.1:8000/hashed/credentials/details/', {
                          method: 'PUT',
                          headers: {
                            'Content-Type': 'application/json',
                          },
                          body: JSON.stringify(data),
                        })
                          .then((response) => {
                            // Replace the 'passwordCell' content with asterisks to hide the password
                            passwordCell.textContent = "****";

                            if (response.status == 401) {
                              // If the response status is 401 (Unauthorized), show an alert and revert the change
                              alert("Invalid Pin. Please try again.");
                              return;
                            }

                            // Handle the response if it's not 401 (Unauthorized)
                            return response.json();
                          })
                          .then((data) => {
                            // Update the 'strengthCell' content with the password strength data from the response
                            strengthCell.textContent = data.strength;
                            return;
                          })
                          .catch((error) => {
                            // Handle any errors that occur during the request
                          });
                      } else {
                        // If the user cancels the PIN prompt, revert the change
                        passwordCell.textContent = text;
                      }
                    }
                    pressed=false;
                  });
                });

                newRow.appendChild(titleCell);
                newRow.appendChild(websiteCell);
                newRow.appendChild(websiteUsernameCell);
                newRow.appendChild(passwordCell);
                newRow.appendChild(strengthCell);
                newRow.appendChild(actionsCell);
                actionsCell.appendChild(showButton);
                actionsCell.appendChild(deleteButton);
                


                tableBody.appendChild(newRow);

              });


            })
            .catch((error) => {

            });

        })

      </script>
    </body>

    </html>
    