<%- include('navbar'); -%>

<%- include('caroussal'); -%>


<%- include('cards'); -%>

<%- include('footer'); -%>
<!DOCTYPE html>
<html>
<head>
    <title>H4$H3D</title>
    <!-- Other head elements -->
</head>
<body>
    <!-- Your web page content -->
</body>
</html>

