<%- include('navbar'); -%>
  <%- include ("sidebar"); -%>

    <html lang="en" dir="ltr">

    <head>
      <meta charset="utf-8" />

      <link rel="stylesheet" href="style.css" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

      <style>
        .passgen3 {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
          background: #4285f4;
        }

        .container3 {
          width: fit-content;
          background: #fff;
          border-radius: 8px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
          display: flex;
          margin: auto;
        }

        .container3 h2 {
          font-weight: 600;
          font-size: 1.31rem;
          padding: 1rem 1.75rem;
          border-bottom: 1px solid #d4dbe5;
        }

        .wrapper3 {
          margin: 1.25rem 1.75rem;
        }

        .wrapper3 {
          margin-top: 150px;
          width: 38rem;
        }

        .wrapper3 .input-box3 {
          position: relative;
        }

        .input-box3 input {
          width: 100%;
          height: 53px;
          color: #000;
          background: none;
          font-size: 1.06rem;
          font-weight: 500;
          border-radius: 4px;
          letter-spacing: 1.4px;
          border: 1px solid #aaa;
          padding: 0 2.85rem 0 1rem;
        }

        .input-box3 span {
          position: absolute;
          right: 13px;
          cursor: pointer;
          line-height: 53px;
          color: #707070;
        }

        .input-box3 span:hover {
          color: #4285f4 !important;
        }

        .wrapper3 .pass-indicator3 {
          width: 100%;
          height: 4px;
          position: relative;
          background: #dfdfdf;
          margin-top: 0.75rem;
          border-radius: 25px;
        }

        .pass-indicator3::before {
          position: absolute;
          content: "";
          height: 100%;
          width: 50%;
          border-radius: inherit;
          transition: width 0.3s ease;
        }

        .pass-indicator3#weak3::before {
          width: 20%;
          background: #e64a4a;
        }

        .pass-indicator3#medium3::before {
          width: 50%;
          background: #f1c80b;
        }

        .pass-indicator3#strong::before {
          width: 100%;
          background: #4285f4;
        }

        .wrapper3 .pass-length3 {
          margin: 1.56rem 0 1.25rem;
        }

        .pass-length3 .details3 {
          display: flex;
          justify-content: space-between;
        }

        .pass-length3 input {
          width: 100%;
          height: 5px;
        }

        .pass-settings3 .options3 {
          display: flex;
          list-style: none;
          flex-wrap: wrap;
          margin-top: 1rem;
        }

        .pass-settings3 .options3 .option3 {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          width: calc(100% / 2);
        }

        .options3 .option3:first-child input {
          opacity: 0.7;
        }

        .options3 .option3 input {
          height: 16px;
          width: 16px;
          cursor: pointer;
        }

        .options3 .option3 label {
          cursor: pointer;
          color: #4f4f4f;
          padding-left: 0.63rem;
        }

        .wrapper3 .generate-btn3 {
          width: 100%;
          color: #fff;
          border: none;
          outline: none;
          cursor: pointer;
          background: #4285f4;
          font-size: 1.06rem;
          padding: 0.94rem 0;
          border-radius: 5px;
          text-transform: uppercase;
          margin: 0.94rem 0 1.3rem;
        }

        .wrapper3 {
          margin-top: 150px;
        }

        #passgenheading3 {
          color: brown;
          text-align: center;
        }

        .headingofpasswordgen {
          font-weight: 600;
          font-size: 1.31rem;
          padding: 1rem 1.75rem;
          border-bottom: 1px solid #d4dbe5;
          padding: 0;
          line-height: 2;
        }

        /* Please ❤ this if you like it! */

        .SelectionMenu {
          display: flex;
          flex-direction: column;
          margin-block: 8px;
        }

        select {
          border-radius: 10px;
          text-align: center;
          font-size: 21px;
          background-color: aliceblue;
        }
      </style>
    </head>

    <body id="passgen3">
      <div class="container3">
        <div class="wrapper3">
          <h2 id="passgenheading3">Password Generator</h2>

          <div class="input-box3">
            <input id="passwordField" type="text" disabled />
            <span id="copyButton" class="material-symbols-rounded">copy_all</span>
          </div>
          <div class="pass-indicator3"></div>
          <div class="pass-length3">
            <div class="details3">
              <label class="title">Password Length</label>
              <span id="length">8</span>
            </div>
            <input id="num" type="range" min="1" max="15" value="8" step="1" />
          </div>
          <div class="SelectionMenu">
            <label class="title3">Password Type</label>
            <select name="" id="">
              <option value="1">Memorable Password</option>
              <option value="2">Random Password</option>
            </select>
          </div>

          <div class="pass-settings3">
            <label class="title3">Password Settings</label>
            <ul class="options3">
              <li class="option3" id="uppercase">
                <input type="checkbox" id="uppercasecb" />
                <label for="uppercase">Capitalize</label>
              </li>
              <li class="option3" id="numbers">
                <input type="checkbox" id="numberscb" />
                <label for="numbers">Number (0-9)</label>
              </li>
              <li class="option3" id="crytpify">
                <input type="checkbox" id="crytpifycb" />
                <label for="crytpify">Crytpify</label>
              </li>
              <li class="option3" id="symbols">
                <input type="checkbox" id="symbolscb" />
                <label for="symbols">Symbol(!-$^+)</label>
              </li>
            </ul>
          </div>
          <button id="button" class="generate-btn3">Generate Password</button>
        </div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const selectElement = document.querySelector("select");
          const uppercaseCheckbox = document.getElementById("uppercase");
          const numbersCheckbox = document.getElementById("numbers");
          const crytpifyCheckbox = document.getElementById("crytpify");
          const symbolsCheckbox = document.getElementById("symbols");
          const selectedOption = selectElement.value;
          var lengthSpan = document.getElementById("length");
          var numInput = document.getElementById("num");

          lengthSpan.textContent = numInput.value;

          uppercaseCheckbox.style.display = "none";
          crytpifyCheckbox.style.display = "none";
          numbersCheckbox.style.display = "none";
          symbolsCheckbox.style.display = "none";

          if (selectedOption === "2") {
            numbersCheckbox.style.display = "block";
            symbolsCheckbox.style.display = "block";
          } else {
            uppercaseCheckbox.style.display = "block";
            crytpifyCheckbox.style.display = "block";
          }

          selectElement.addEventListener("change", function () {
            const selectedOption = selectElement.value;

            uppercaseCheckbox.style.display = "none";
            crytpifyCheckbox.style.display = "none";
            numbersCheckbox.style.display = "none";
            symbolsCheckbox.style.display = "none";

            if (selectedOption === "2") {
              numbersCheckbox.style.display = "block";
              symbolsCheckbox.style.display = "block";
              numInput.min = 6;
              numInput.max = 32;
              if (numInput.value < 6) {
                numInput.value = 6;
                lengthSpan.textContent = 6;
              } else if (numInput.value > 32) {
                numInput.value = 32;
                lengthSpan.textContent = 32;
              }
            } else {
              uppercaseCheckbox.style.display = "block";
              crytpifyCheckbox.style.display = "block";
              numInput.min = 1;
              numInput.max = 15;
              if (numInput.value < 1) {
                numInput.value = 1;
                lengthSpan.textContent = 1;
              } else if (numInput.value > 15) {
                numInput.value = 15;
                lengthSpan.textContent = 15;
              }
            }
          });
        });
      </script>
    </body>
    <script>
      var copyButton = document.getElementById("copyButton");
      var passwordField = document.getElementById("passwordField");

      copyButton.addEventListener("click", function () {
        passwordField.select();
        try {
          navigator.clipboard.writeText(passwordField.value).then(function () {
            copyButton.textContent = "check_circle";
            setTimeout(function () {
              copyButton.textContent = "copy_all";
            }, 1000);
          });
        } catch (err) {
          console.error("Copy to clipboard failed: ", err);
        }
      });

      var lengthSpan = document.getElementById("length");
      var numInput = document.getElementById("num");
      numInput.addEventListener("input", function () {
        lengthSpan.textContent = numInput.value;
      });

      document.getElementById('button').addEventListener("click", function () {
        const selectElement = document.querySelector("select");
        const uppercaseCheckbox = document.getElementById("uppercasecb");
        const numbersCheckbox = document.getElementById("numberscb");
        const crytpifyCheckbox = document.getElementById("crytpifycb");
        const symbolsCheckbox = document.getElementById("symbolscb");
        const selectedOption = selectElement.value;
        var passwordField = document.getElementById("passwordField");

        if (selectedOption === "2") {
          var userData = {
            length: numInput.value,
            nos: numbersCheckbox.checked,
            symbols: symbolsCheckbox.checked,
          };

          fetch('http://127.0.0.1:8000/hashed/randompass/', {
            method: 'POST',
            body: JSON.stringify(userData),
            headers: {
              'Content-Type': 'application/json',
            },
          })
            .then((response) => {
              if (response.status == 200) {
                return response.json();
              } else {
                alert('Password generation failed :(');
              }
            })
            .then((data) => {
              return data.password;
            })
            .then((password) => {
              passwordField.value = password;
            })
            .catch((error) => {
              console.error(error);
            });
        } else {
          var userData = {
            num: numInput.value,
            caps: uppercaseCheckbox.checked,
            cryptify: crytpifyCheckbox.checked,
          };

          fetch('http://127.0.0.1:8000/hashed/mempass/', {
            method: 'POST',
            body: JSON.stringify(userData),
            headers: {
              'Content-Type': 'application/json',
            },
          })
            .then((response) => {
              if (response.status == 200) {
                return response.json();
              } else {
                alert('Password generation failed :(');
              }
            })
            .then((data) => {
              return data.password;
            })
            .then((password) => {
              passwordField.value = password;
            })
            .catch((error) => {
              console.error(error);
            });
        }
      });
    </script>

    </html>