asgiref==3.7.2
Brotli==1.0.9
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.5
djangorestframework==3.14.0
idna==3.4
pip==23.2.1
PySocks==1.7.1
pytz==2023.3.post1
requests==2.31.0
setuptools==68.0.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.0.5
wheel==0.38.4
win-inet-pton==1.1.0